body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('./ficheros/imagenes/icon_fondo_bueno_1.webp');
    background-size: cover;
    background-position: center;
    transition: background-image 1s ease-in-out;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Usar la altura completa de la ventana */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente para mejor visibilidad del título y botones */
}

#titulo {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

#tema-container {
    display: flex;
    justify-content: flex-start; /* Cambia esto para alinear a la izquierda */
    align-items: center;
    margin: 20px;
    height: 100%;
}

#tema-boton {
    position: relative;
}

#tema-toggle {
    width: 60px;
    height: 60px;
    background-image: url('./ficheros/imagenes/icon_cambio_tema.PNG'); /* Usa la imagen que subiste */
    background-size: cover;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    margin-top: 10px;
}

#tema-opciones {
    display: none;
    position: absolute;
    top: -20px;
    left: 130%; /* Para alinear a la izquierda */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#tema-opciones button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #fff;
    cursor: pointer;
    text-align: left;
}

#tema-opciones button:hover {
    background-color: #f1f1f1;
}

#tema-toggle:focus + #tema-opciones,
#tema-opciones:hover {
    display: block;
}

/* INICIO - Modo Oscuro */
/* Modo Oscuro */
body.tema-oscuro {
    color: #fff;
}

body.tema-oscuro header {
    background-color: #333;
}

body.tema-oscuro #titulo {
    color: #fff;
}

body.tema-oscuro #tema-toggle {
    background-color: #333;
    color: #fff;
}

body.motemado-oscuro #tema-opciones {
    background-color: #333;
}

body.tema-oscuro #tema-opciones button {
    background-color: #333;
    color: #fff;
}

body.tema-oscuro #tema-opciones button:hover {
    background-color: #555;
}

body.tema-oscuro select {
    background-color: #333;
    color: #fff;
    border: 1px solid #fff;
}
/* FIN - Modo Oscuro */

#modo-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 20px;
    height: 100%;
}

#modo {
    display: flex;
    gap: 10px;
}

#basico, #avanzado {
    width: 60px; /* Establece el ancho del botón más pequeño */
    height: 60px; /* Asegúrate de que la altura y el ancho sean iguales para forma circular */
    border-radius: 50%; /* Hace el botón redondo */
    border: none; /* Elimina el borde del botón */
    background-size: 100% 100%; /* Asegura que la imagen cubra completamente el botón */
    background-position: center; /* Centra la imagen en el botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    outline: none; /* Evita que se muestre un contorno cuando se hace clic */
    display: flex; /* Alineación central de los elementos internos, si hay alguno */
    justify-content: center; /* Centra horizontalmente el contenido intero */
    align-items: center; /* Centra verticalmente el contenido interno */
    overflow: hidden; /* Evita desbordamientos visuales */
}

#basico {
    background-image: url('./ficheros/imagenes/letra_B.png');
}

#avanzado {
    background-image: url('./ficheros/imagenes/letra_A.PNG');
}

.button-container {
    display: flex;
    justify-content: center;
    width: 100%; /* Ajustar según el diseño */
    height: 100%;
    position: absolute;
    top: 100%; /* Ajusta esto para mover los botones más abajo */
    margin-top: 250px;
}

.button-container button {
    margin: 0 20px; /* Espaciado entre botones */
    padding: 20px 40px; /* Tamaño del botón */
    font-size: 24px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 20%;
}

.button-container button:hover {
    background-color: #0056b3;
}